<div
  class="container-fluid main-container-width-with-header"
  style="margin-top: 62px">
  <div class="row">
    <div class="col-md-6">
      <h5>Connect with Peer</h5>

      <!-- Video & screen share container -->
      <span>PeerId: {{ peerId }}</span>
      <div
        #remoteVideo
        style="width: 400px; height: 300px; border: 2px solid"></div>

      <br />
      <div style="margin-top: 20px">
        <input type="text" placeholder="Peer Id" [(ngModel)]="peerIdShare" />
        <button class="button" (click)="connectWithPeer()">Call Peer</button>
      </div>
    </div>
  </div>
  <div>
    <ng-container *ngFor="let m of messages">
      <p style="color: blueviolet" *ngIf="m.type == 'send'">{{ m.message }}</p>
      <p *ngIf="m.type == 'receive'">{{ m.message }}</p>
    </ng-container>
    <input [(ngModel)]="message" (keydown.enter)="sendMessage()" type="text" />
    <button (click)="sendMessage()">Send</button>
  </div>
</div>
